# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


# DATABASE
DATABASE_URL="mysql://root:root@localhost:3306/myfinanceapp"

# JWT TOKEN
SECRET_TOKEN="69220034-7910-4061-8b37-29ba69e03582-MCA"

# SERVER
APPLICATION_PORT='4100'
ACCESS_CONTROL_PORTS="*"

# NODEMAILER
NODEMAILER_USER=
NODEMAILER_PASSWORD=

# APLICATION URL
FRONT_APPLICATION_DOMAIN=http://localhost:3000